@charset "UTF-8";
@import url("//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");
input[type=text], input[type=tel], input[type=url], input[type=password], input[type=email], select {
  border-radius: 2px;
  background: #fff;
  border: 1px solid #d1d1d1;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05);
  color: #1f3244;
  font-weight: 300;
  font-size: 1em;
  padding: .5em;
  width: calc(100% - 18px);
  transition: all 0.1s ease-in-out;
  line-height: normal; }
  input[type=text]:focus, input[type=tel]:focus, input[type=url]:focus, input[type=password]:focus, input[type=email]:focus, select:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #3675b4; }
  input[type=text]::selection, input[type=tel]::selection, input[type=url]::selection, input[type=password]::selection, input[type=email]::selection, select::selection {
    background: #f4f4f4; }
  input[type=text]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder, input[type=url]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #515151; }
  input[type=text]:-moz-placeholder, input[type=tel]:-moz-placeholder, input[type=url]:-moz-placeholder, input[type=password]:-moz-placeholder, input[type=email]:-moz-placeholder, select:-moz-placeholder {
    color: #515151 !important; }
  input[type=text]::-moz-placeholder, input[type=tel]::-moz-placeholder, input[type=url]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=email]::-moz-placeholder, select::-moz-placeholder {
    color: #515151 !important; }
  input[type=text]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder, input[type=url]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, select:-ms-input-placeholder {
    color: #515151 !important; }

.form-default input {
    border-radius: 2px;
    background: #fff;
    border: 1px solid #d1d1d1;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05);
    color: black;
    font-size: 17px;
    padding: .5em;
    width: 100%;
}
.form-default .floating-label {
    position: relative;
}
.form-default .form-row {
    margin-top: 1em;
}
.form-default .floating-label input:focus {
    padding-top: .75em;
    padding-bottom: .25em;
}
.floating-label {
  position: relative;
  margin: 0 auto;
  width: 100%;
  vertical-align: top; }
  .floating-label label {
    color: #3675b4;
    font-size: .55em;
    opacity: 0;
    text-transform: uppercase;
    transition: opacity 0.2s, top 0.2s;
    position: absolute;
    top: 0;
    left: 1.1em; }
  .floating-label input:focus {
    padding-top: 1.4em;
    padding-bottom: .36em; }
    .floating-label input:focus ~ label {
      opacity: 1;
      top: .6em; }
    .floating-label input:focus::-webkit-input-placeholder {
      color: #fff; }
    .floating-label input:focus:-moz-placeholder {
      color: #fff !important; }
    .floating-label input:focus::-moz-placeholder {
      color: #fff !important; }
    .floating-label input:focus:-ms-input-placeholder {
      color: #fff !important; }

.form-row {
  margin: 20px auto; }









